<app-header style="width: 100%; position: fixed"></app-header>
<div class="row" style="padding-top: 100px">
  <div class="col-md-6 d-flex align-items-center">
    <img
      src="../../../../assets/images/about.png"
      data-aos="fade-right"
      data-aos-duration="1200"
      data-aos-delay="300"
      data-aos-mirror="true"
    />
  </div>
  <div class="col-md-6">
    <h1 style="color: rgba(33, 83, 110, 1); font-size: 80px">About.</h1>

    <p
      style="
        color: rgba(33, 83, 110, 1);
        font-size: 30px;
        padding-top: 40px;
        text-align: left;
      "
    >
      Hi, My name is Furkan. I love technology and design as long as I can
      remember myself. I graduated from mechatronics engineering and web design
      & coding. I am also studying occupational health and safety. When I'm not
      drinking coffee, I design UI designs and turn them into real working
      websites & apps.
    </p>
  </div>
</div>
<div class="row" style="color: rgba(33, 83, 110, 1); padding-top: 300px">
  <div
    class="col-md-4 d-flex justify-content-center align-items-center"
    style="text-align: left; padding-left: 15%"
  >
    <div class="container" style="font-size: 30px">
      <h2>Part Designer</h2>
      <p>UI design</p>
      <p>UX design</p>
      <p>Design Systems</p>
      <p>Interaction design</p>
      <p>"Making it pop"</p>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <img
        src="../../../../assets/images/pieLeft.png"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-mirror="true"
        data-aos-duration="1200"
      />
      <img
        src="../../../../assets/images/pieRight.png"
        data-aos="fade-left"
        data-aos-delay="300"
        data-aos-mirror="true"
        data-aos-duration="1200"
      />
    </div>
  </div>
  <div class="col-md-4" style="text-align: center; align-items: center">
    <div style="font-size: 30px; text-align-last: left">
      <h2>Part coder</h2>
      <p>Front-end development</p>
      <p>HTML / CSS</p>
      <p>JavaScript (kinda)</p>
      <p>Swearing at my computer</p>
      <p>Eating pizza</p>
    </div>
  </div>
</div>

<div class="row" style="color: rgba(33, 83, 110, 1); padding-top: 200px">
  <div
    class="col-md-6"
    style="text-align: left; font-weight: 400; padding-left: 15%"
  >
    <h2 style="padding-top: 200px">Random facts</h2>
    <div style="font-size: 30px">
      <p>I drink a lot of coffee</p>
      <p>I'm into website design</p>
      <p>Riding bike is my zen time</p>
      <p>I love to cook (and eat)</p>
      <p>I'm a bit of a clean freak</p>
      <p>I want to live on Pandora</p>
      <p>I'm slightly addicted to instagram</p>
    </div>
  </div>
  <div
    class="col-md-6 d-flex justify-content-end"
    data-aos="fade-left"
    data-aos-duration="1500"
  >
    <img src="../../../../assets/images/about-motor.png" />
  </div>
</div>
